.place__website__link {
    margin: 0;
    padding-top: 12px;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: white;
    transition: opacity 0.2s ease-out;
}

.place__website__link:hover {
    opacity: 0.5;
}